* {
    box-sizing: border-box;
  }

  :root {
      --teal: #46E1C4;
      --navy: #081C70;
      --dark-grey: #434448;
      --light-grey: #C8C6C9;
  }

  body {
      color: var(--navy);
      font-family: Arial;
      background-color: var(--light-grey);
  }

  header {
      display: flex;
      background-color: var(--dark-grey);
      justify-content: space-between;
      flex-wrap: wrap;
  }

  header h1 {
      color: var(--navy);
      font-weight: bold;
      text-align: center;
      margin: 20;
      font-size: 36px;
      background-color: var(--teal);
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
        list-style-type: none;
  }

  header nav ul li {
      display: inline-block;
  }

  header nav ul li a {
      color: var(--teal);
      padding: 14px 15px;
      border-bottom-style: solid;
      border-bottom-color: var(--teal);
      text-decoration: none;
  }

  .hero {
      background-image: url("../images/heroimg.jpg");
      height: 300px;
      background-size: cover;
      background-position: center;
      display: flex;
      position: relative;
      justify-content: center;
      flex-wrap: wrap;
  }

  .subtitle {
      background-color: var(--teal);
      padding: 5px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: var(--navy);
      position: absolute;
      bottom: 12px;
      right: 14px;
  }

  .about-me {

  }


  .grid-item {
      display: flex;
      justify-content: center;
      border: 5px solid rgba(0, 0, 0, 0.2);
      margin: 5px auto;
      border-radius: 5px;
      font-size: 35px;
      background-color: aquamarine;
  }